header {
    height: 10em;
    padding: 30px 170px 70px 170px;
    margin: 0px auto;
    background: #005689;
    color:floralwhite;
    overflow: hidden;
}

.floating-box {
    display: inline-flex;
    height: 10em;
}

#left {
    display: inline-flex;;
    width: calc(40%);
    text-align: center;
    display: inline-flex;
}

#left h1 {
    font-family:  serif ;
    font-size: 350%;
    padding-left: 50px;
    padding-bottom: -10px;
    text-align: bottom-left;
    line-height: 40px;
}

#addition{
    font-size: 45%;
    font-family: 'Dancing Script';
    margin-left: 5.5em;
    padding-top: -4em;
    display: inline-flex;

}

#right {
    float: right;
    display: inline-flex;
    width: calc(40%);
}

#right img {
    border-radius: 80%;
    height: 200px;
}

.topnav {
  overflow: hidden;
  background-color: #00456e;
  padding-left: 170px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
}

.topnav a:hover {
  background-color: #c0cad8;
  color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
.cont {
        padding: 70px 200px 70px 200px;
}

.cont img{
    max-width: 40%;
    max-height: 100px;
}

.headline {
    color: #db7013;
}

.article {
    font-family: Open Sans;
}

footer {
    height: 10em;
    padding: 30px 170px 70px 170px;
    background: #f5f5f5;
    color:black;
    display: flex;
}

footer .social .fa{
    padding: 20px;
    font-size: 30px;
    width: 8%;
    height: 10%;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    overflow: hidden;
    display: block;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: white;
  color: black;
}

#links {
    display: block;
    padding-left: 30px;
    width: calc(25%);
}

#address {
    text-align: top-left;
    width: calc(50%);
}
